Repository hmislk/hmis, pull requests merged in 2024-07, with the labels that each got.

#6417 Issue#6416
  nb-configuration.xml
  pom.xml
  src/main/java/com/divudi/bean/cashTransaction/FinancialTransactionController.java
  src/main/java/com/divudi/bean/channel/BookingController.java
  src/main/java/com/divudi/bean/channel/BookingControllerViewScope.java
  src/main/java/com/divudi/bean/channel/ChannelBillController.java
  src/main/java/com/divudi/bean/channel/ChannelReportController.java
  src/main/java/com/divudi/bean/channel/ChannelReportTempController.java
  src/main/java/com/divudi/bean/channel/ChannelStaffPaymentBillController.java
  src/main/java/com/divudi/bean/channel/analytics/ReportTemplateController.java
  src/main/java/com/divudi/bean/common/BillBeanController.java
  src/main/java/com/divudi/bean/common/OpdPreSettleController.java
  src/main/java/com/divudi/bean/common/OpdTabPreBillController.java
  src/main/java/com/divudi/bean/common/SessionController.java
  src/main/java/com/divudi/bean/common/UserPrivilageController.java
  src/main/java/com/divudi/bean/emr/DataUploadController.java
  src/main/java/com/divudi/bean/lab/PatientReportController.java
  src/main/java/com/divudi/data/MessageType.java
  src/main/java/com/divudi/data/ReportTemplateRow.java
  src/main/java/com/divudi/data/ReportTemplateRowBundle.java
  src/main/java/com/divudi/data/analytics/ReportTemplateFilter.java
  src/main/java/com/divudi/data/analytics/ReportTemplateType.java
  src/main/java/com/divudi/data/channel/PatientPortalController.java
  src/main/java/com/divudi/data/inward/InwardChargeType.java
  src/main/java/com/divudi/entity/Bill.java
  src/main/java/com/divudi/entity/Item.java
  src/main/java/com/divudi/entity/ReportTemplate.java
  src/main/resources/META-INF/persistence.xml
  src/main/webapp/WEB-INF/glassfish-web.xml
  src/main/webapp/admin/items/index.xhtml
  src/main/webapp/admin/items/opd_items_and_hospital_fee_upload.xhtml
  src/main/webapp/channel/channel_booking_by_date.xhtml
  src/main/webapp/channel/channel_payment_bill_reprint.xhtml
  src/main/webapp/channel/channel_payment_session_by_dates.xhtml
  src/main/webapp/channel/channel_queue_session.xhtml
  src/main/webapp/channel/channel_views/channel_nurse_view.xhtml
  src/main/webapp/channel/doctor_card.xhtml
  src/main/webapp/channel/manage_booking_by_date.xhtml
  src/main/webapp/channel/session_instance.xhtml
  src/main/webapp/dataAdmin/report.xhtml
  src/main/webapp/dataAdmin/report_template.xhtml
  src/main/webapp/opd/opd_bill_pre_settle.xhtml
  src/main/webapp/opd/token/opd_tokens_completed.xhtml
  src/main/webapp/opd_search_billitem_own.xhtml
  src/main/webapp/opd_search_professional_payment_done.xhtml
  src/main/webapp/payment_staff_bill.xhtml
  src/main/webapp/payments/patient/receive.xhtml
  src/main/webapp/pharmacy/pharmacy_bill_retail_sale_for_cashier.xhtml
  src/main/webapp/reportLab/report_collecting_center_payment_bill.xhtml
  src/main/webapp/reports/opd/service_count.xhtml
  src/main/webapp/resources/ezcomp/common/patient_details.xhtml
  src/main/webapp/resources/ezcomp/common/patient_details_view_scope.xhtml
  src/main/webapp/resources/ezcomp/menu.xhtml
  src/main/webapp/resources/paymentMethod/cheque.xhtml
  src/main/webapp/resources/paymentMethod/creditCard.xhtml
Labels: bug, Urgent

#6420 Issue#6366
  src/main/webapp/pharmacy/pharmacy_search_issue_bill.xhtml
  src/main/webapp/pharmacy/pharmacy_search_issue_bill_item.xhtml
  src/main/webapp/pharmacy/pharmacy_search_issue_bill_return.xhtml
Labels: RMH

#6483 Issue#6482
  README.md
  src/main/java/com/divudi/bean/cashTransaction/FinancialTransactionController.java
  src/main/java/com/divudi/bean/channel/BookingController.java
  src/main/java/com/divudi/bean/channel/BookingControllerViewScope.java
  src/main/java/com/divudi/bean/common/PackageItemController.java
  src/main/java/com/divudi/entity/Item.java
  src/main/java/com/divudi/entity/Payment.java
  src/main/resources/META-INF/persistence.xml
  src/main/webapp/WEB-INF/glassfish-web.xml
  src/main/webapp/admin/pricing/package_item.xhtml
  src/main/webapp/cashier/initial_fund_bill.xhtml
  src/main/webapp/cashier/shift_end_summery_bill.xhtml
  src/main/webapp/resources/ezcomp/prints/five_five_paper_with_headings_for_shift_start_fund_bill.xhtml
Labels: Package Billing

#6485 Issue#6484
  .github/counter.txt
  README.md
  pom.xml
  src/main/resources/VERSION.txt
  src/main/webapp/WEB-INF/glassfish-web.xml
  src/main/webapp/opd/opd_bill_package.xhtml
Labels: Package Billing
