Repository hmislk/hmis, pull requests merged in 2025-09, with the labels that each got.

#15229 15127 - Add Investigation Tracking History to Billing Section
  src/main/java/com/divudi/bean/collectingCentre/CollectingCentreBillController.java
  src/main/java/com/divudi/bean/common/BillBeanController.java
  src/main/java/com/divudi/bean/common/BillController.java
  src/main/java/com/divudi/bean/common/BillPackageController.java
  src/main/java/com/divudi/bean/common/BillReturnController.java
  src/main/java/com/divudi/bean/common/BillSearch.java
  src/main/java/com/divudi/bean/inward/InwardSearch.java
  src/main/java/com/divudi/bean/lab/LabTestHistoryController.java
  src/main/java/com/divudi/bean/lab/PatientInvestigationController.java
  src/main/java/com/divudi/core/data/lab/TestHistoryType.java
  src/main/webapp/collecting_centre/bill_cancel.xhtml
  src/main/webapp/lab/generate_barcode_p.xhtml
  src/main/webapp/lab/lab_test_history.xhtml
Labels: Lab, Ruhunu Hospital

#15253 15192-fix-spell-errors-2
  src/main/webapp/credit/credit_compnay_bill_pharmacy_all.xhtml
  src/main/webapp/resources/ezcomp/menu.xhtml
Labels: Administration, Adjustment

#15255 Summary report issue fix
  src/main/java/com/divudi/bean/pharmacy/PharmacyController.java
  src/main/webapp/reports/inventoryReports/stock_transfer_report.xhtml
Labels: bug

#15273 Fixed - error-fixing-sample-re-collection-prosess
  src/main/java/com/divudi/bean/lab/PatientInvestigationController.java
  src/main/webapp/lab/generate_barcode_p.xhtml
Labels: Ruhunu Hospital

#15276 Fixed - Remove Reject Sample ID from Patient Report
  src/main/java/com/divudi/bean/lab/PatientReportController.java
Labels: Ruhunu Hospital

#15315 #15259 cogs purchase return
  src/main/java/com/divudi/bean/report/PharmacyReportController.java
  src/main/webapp/reports/inventoryReports/purchase_return.xhtml
Labels: Pharmacy, Report, Ruhunu Hospital

#15350 update ruhunu local cicd
  .github/workflows/ruhunu_local_server_ci_cd.yml
Labels: Ruhunu Hospital

#15402 15374 - Sending and receiving samples between the hospital's internal labs.
  src/main/java/com/divudi/bean/common/DepartmentController.java
  src/main/java/com/divudi/bean/lab/LabTestHistoryController.java
  src/main/java/com/divudi/bean/lab/PatientInvestigationController.java
  src/main/java/com/divudi/core/data/DepartmentType.java
  src/main/java/com/divudi/core/data/lab/PatientInvestigationStatus.java
  src/main/java/com/divudi/core/data/lab/TestHistoryType.java
  src/main/webapp/lab/generate_barcode_p.xhtml
  src/main/webapp/resources/css/lab-test-history.css
Labels: Lab, Ruhunu Hospital

#15398 #15390 cogs
  src/main/java/com/divudi/bean/report/PharmacyReportController.java
Labels: Pharmacy, Report, Ruhunu Hospital

#15414 Handle null pre-bill identifiers during printing
  src/main/java/com/divudi/bean/pharmacy/PharmacySaleController.java
Labels: codex

#15420 Fixed - Sample Rejection Validation Update.
  src/main/java/com/divudi/bean/lab/PatientInvestigationController.java
  src/main/webapp/lab/generate_barcode_p.xhtml
Labels: Lab, Ruhunu Hospital

#15422 15409 - In Multiple payement package billing balance amount isn't updated properly
  src/main/java/com/divudi/service/PaymentService.java
Labels: Ruhunu Hospital, Package Billing

#15447 Fixed - Need to retrieve the sent sample from the internal lab.
  src/main/java/com/divudi/bean/lab/PatientInvestigationController.java
Labels: Lab, Ruhunu Hospital

#15461 Fix Print Button
  src/main/webapp/credit/credit_compnay_bill_pharmacy.xhtml
Labels: Pharmacy, Ruhunu Hospital

#15463 15401 add searchable multi select supplier filter in direct purchase report
  src/main/java/com/divudi/bean/pharmacy/DealerController.java
  src/main/java/com/divudi/bean/pharmacy/PharmacyBillSearch.java
  src/main/java/com/divudi/bean/report/PharmacyReportController.java
  src/main/webapp/pharmacy/direct_purchase_summery_report.xhtml
Labels: Pharmacy, Report, COOP Hospital

#15560 Update cicd script for ruhunu staging
  .github/workflows/ruhunu_local_server_ci_cd.yml
Labels: Ruhunu Hospital

#15555 #15491 cogs
  src/main/java/com/divudi/bean/report/PharmacyReportController.java
  src/main/webapp/reports/inventoryReports/grn_cash.xhtml
  src/main/webapp/reports/inventoryReports/grn_credit.xhtml
  src/main/webapp/reports/inventoryReports/op_drug_return.xhtml
  src/main/webapp/reports/inventoryReports/stock_adjustment_receive.xhtml
Labels: Pharmacy, Report, Ruhunu Hospital

#15625 15608 bill number to be sent to lims middleware hotfix
  src/main/java/com/divudi/bean/lab/LaboratoryManagementController.java
  src/main/java/com/divudi/core/entity/AuditEvent.java
  src/main/java/com/divudi/core/util/BigDecimalUtil.java
  src/main/java/com/divudi/ws/lims/MiddlewareController.java
  src/test/java/com/divudi/performance/BigDecimalPerformanceTest.java
Labels: Lab, COOP Hospital, Hot Fix
